.timer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 5rem;
}

.timer__heading {
  color: white;
  font-size: 2.625rem;
  margin-bottom: 2rem;
}

.timer__cards {
  display: flex;
  gap: 50px;
}
