:root {
  --clr-primary: #03ffca;
  --clr-secondary: #343434;
}

.app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom right, black, var(--clr-secondary));
}
