.card {
  background-color: var(--clr-secondary);
  padding: 2rem;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card__value {
  color: var(--clr-primary);
  font-size: 3.625rem;
  margin-bottom: 10px;
}

.card__text {
  color: white;
  font-size: 2rem;
  text-transform: capitalize;
}
