.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  background: var(--clr-secondary);
  height: 80px;
  align-items: center;
  padding: 5px;
  letter-spacing: 1.001ch;
}

.navbar__title {
  flex: 1;
  color: white;
  margin-left: 10px;
}

.navbar__button {
  color: black;
  background-color: var(--clr-primary);
  padding: 10px;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
  font-size: 1.125rem;
  cursor: pointer;
}
